.footer_bg{
    background: url("../img/bg-img/3.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;

}
.footer_zc{
    background-color: rgba(4,43,15,0.8);
    width: 100%;
    height: 100%;
    padding-top: 80px;
}
.footer_zc .container .row img.float-left{
    width:17%;
    margin-right: 5px;
    border-radius: 50%;
}
.footer_zc .container .row .d1 img.float-left:hover{
    cursor: pointer;
    background-color: #70c745;
    transition: 0.3s linear;
}
.footer_zc .container .row p.my_fonts{
    color: #b7b7b7;
}
.footer_zc .container .d2 h4{
    font-size: 22px;
}
.footer_zc .container .d2 li.my_fonts{
    color: #b7b7b7;
}
.footer_zc .container .d2 li.my_fonts:hover{
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s linear;
}
.d3 ul li>a:nth-child(1){
    display: block;
    width: 70px;
    height: 70px;
    background: url("../img/bg-img/4.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
}
.d3 ul li:nth-child(2)>a:nth-child(1){
    background: url("../img/bg-img/5.jpg ") no-repeat;
}
.d3>h4{
    font-size: 22px;
}
.d3 ul li div a{
    color: #b7b7b7;
}
.d3 ul li div a:hover{
    color: #ffffff;
    transition: 0.2s linear;
}
.d3{
    padding-right: 5%;
}
.d4 h3{
    font-size: 22px;
}
.d4 p span{
    color: #b7b7b7;
}
.footer_zc .container .border_liner{
    width: 100%;
    height: 1px;
    background-color: #34512d;
    margin-top: 6%;
}
.footer-end p,.footer-end li{
    font-size: 14px;
    color: #b7b7b7;
}

.footer-end ul li:hover{
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s linear;
}
.footer-end ul li{
    text-align: center;
}
@media screen and (min-width: 576px) and (max-width: 991px) {
    .footer-end ul{
        padding:0 25%!important;
    }
}

@media screen and (min-width: 992px) {
    .footer-end ul{
        padding-left: 20% !important;
    }
    .footer-end p{
        padding-left: 2% !important;
    }
}