/*顶部面包屑导航*/
.breadcrumb-item+.breadcrumb-item::before{
    content: ">";
    padding-left: 8px;
    padding-right: 4px;
}
.part_top li:nth-child(1) a{
    color: #303030;
}
.part_top li:nth-child(2) a{
    color: #b7b7b7;
}
.part_top li:nth-child(2) a:hover{
    color: #70c745 !important;
    cursor: pointer;
    transition: 0.2s linear;
}
.part_top li:nth-child(1) a:hover{
    color: #70c745 !important;
    cursor: pointer;
    transition: 0.2s linear;
}
/*��ʾ72�����е�1-9��*/
.shop_top>form select{
    width: 180px;
    height: 40px;
    color: #51545f;
    font-size: 16px;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    margin-left: 30px;
    padding-left: 8px;
}
.shop_top>span{
    font-size: 18px;
    color: #707070;
    margin-bottom: 0;
    font-weight: 500;
}
.shop_top1{
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 25px;
    margin-bottom: 50px;
}

/*�۸������*/
.choose .price1{
    color: #303030;
    line-height: 1.3;
    font-weight: 500;
    font-size:1.5rem ;
}

/*����*/
.choose>h4{
    color: #303030;
    line-height: 1.3;
    font-weight: 500;
    font-size: 1.5rem;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #70c745;
}

/*������*/
.changxiaoshu>a{
    background: url("../img/bg-img/4.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    width: 70px;
    height: 70px;
    display: block;
}
.changxiaoshu>div>p:nth-child(1){
    color: #707070;
    font-size: 16px;
    font-weight: 400;
}
.changxiaoshu>div>p:nth-child(2){
    color: #303030;
    font-weight: 500;
}
.changxiaoshu>div{
    position: relative;
    left: -25%;
}
.cxs1>a{
    background: url("../img/bg-img/5.jpg") no-repeat;
}
.cxs2>a{
    background: url("../img/bg-img/4.jpg") no-repeat;
}

/*��Ʒ�б�����*/
.shop_list>div>.price{
    color: #303030;
    font-weight: 500;
}

/*�ײ���ҳ��*/
.page-item.active .page-link{
    width: 46px;
    height: 46px;
    border-radius: 0px;
    background-color:#70c745;
    border-color: #70c745;
}
.page-link{
    line-height: 27px;
    color: #707070;
    background-color: #f5f5f5;
    border: 1px solid #dee2e6;
    width: 46px;
    height: 46px;
    text-align: center;
}
.page-link:hover{
    background-color: #70c745;
    border-color: #70c745;
    transition: all 0.2s linear;
}
.pagination{
    margin-bottom: 10% !important;
}

/*ý���ѯ����*/
/*С����576-767��*/
@media screen and (max-width: 767px){
    .changxiaoshu>div{
        position: relative;
        left: -305px;
    }
    .changxiaoshu:last-child{
        margin-bottom: 50px;
    }

}
/*������768-991��*/
@media screen and (min-width: 768px) and (max-width: 991px){
    .changxiaoshu>div{
        position: relative;
        left: 17px;
    }
    .changxiaoshu .iconfont{
        font-size: 12px;
    }
}
/*������992-1200��*/
@media screen and (min-width: 992px) and (max-width: 1200px){
    .changxiaoshu>div{
        position: relative;
        left: -30px;
    }
}
/*������*/
@media screen and (min-width: 1200px){
    .changxiaoshu>div{
        position: relative;
        left: -70px;
    }
}